####################################################
#										CU-RJMCMCp Setup
#AUTHOR: John Chavis
#NAME: setup.config
#DESCRIPTION: User Defined Paramters to run CU-RJMCMCp
#
##################################################
CMDSTANPATH = "/mnt/c/Users/<your_name>/Desktop/wsl/cmdstan/"		#Specify the Path to cmdstand. #Absoulate path must be used  

NCORES = 4		         #NUmber of Cores desired for cmdstan


#################################
#Variables for RJMCMC Simulation 
#################################
NBURN = 2000			 #Number of Burn in 

NLEN = 2000		         #Number of Samples to Run 

NCHAIN = 1			 #Number of Chains

PLOT=false                       #Plot true or false
